*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*{
    font-family: 'Archivo', sans-serif;
font-family: 'Inknut Antiqua', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
}

.html{
    font-size: 62.5%;
}
.log{
    margin-top: 20px;
}
 body{
    /* background-color: #111827; */
    /* background-color: #00273b; */
    background-color: white;
} 
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}
.loi{
    /* background-color: #37445C;; */
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    /* box-shadow: 0px 5px 10px 0px #aaa; */
    top: 0;
    position: fixed;
    width: 100%;
    height: 80px;
      background: #005A87; 
      /* background-color: #37445C;;  
      background-color: #111827; 
     background-color: #00273b; */
    color: #000;
    opacity: 8;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
     /* color: #444;  */
     color: white; 
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    
}
.navbar  ul {
    margin-top: 30px;
}
.btn-1{
    width: 130px;
    height: 42px;
    border-radius: 10px;
   margin-left: 8px;
    background-color: white;
   margin-top: -8px;
    border: 3px solid #37445C;
}
.btn-1{
    font-size: 18px;
    /* color: black; */
}

a.lala{
    background-color: #e9f8ff;
    color: black;
    padding: 6px;
    width: 50px;
}

div.lala a:hover { color:inherit; } 

.navbar a #di:hover{
    width: 100%;
    padding: 20px;
    background-color:#37445C;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #005A87;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        /* box-shadow:  5px 0px 10px 0px #aaa; */
        overflow: scroll;
    }

    .btn-1{
        margin-top: 20px;
    }
     /* a{
        background-color: red;
    } */
    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

        
    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
    
}



.carousel {
    /* margin-left: 5%; */
    margin-top: 1%;
    width: 100%;
    height: auto;
}

ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: 100%;
    background-size: 100%;
    background-position: center;
    object-fit: cover;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* z-index: 999; */
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    /* text-align: right; */
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}



.bas-image{
    width: 100%;
   /* background-color: red; */
    margin: 0 auto;
    margin-top: 10px;
    margin-top: 90px;
}
.bas-image h1{
    font-size: 39px;
    color: black;
     text-align: center;
   
}
.koi{
    margin: 0 auto;
}
.bas-image p{
    font-size: 28px;
    color: black;
    text-align: center;
    margin-top: 15px;
}

@media (max-width:500px) {
    p{
       font-size: 10px;
    }
}


.conteineur{
    display: flex;
    
    justify-content: space-around;
    width: 100%;
    height: auto;
   /* background-color: #37445C; */
   /* background-color: #111827; */
   /* background-color: #37445C;; */
    margin: 0 auto;
    flex-direction: row;
    flex-flow: wrap;
    margin-top: 50px;
  }
  .box h1{
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    
    text-transform: uppercase;
  }
  .box p{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }
  .content{
    width: 80%;
    /* background-color: white; */
    margin: 0 auto;
  }
  .che{
    width: 60%;
     /* background-color: black;  */
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
  }
  .la{
   
   
    
  }
  .box1{
    text-align: center;
   
  }
  .box1 img{
    margin-top: 20px;
  }
  .box2 img{
    margin-top: 20px;
  }
  .box1 p{
    color: white;
    margin-top: 30px;
  }
  .box2 p{
    color: white;
    margin-top: 30px;
  }
  .box2{
    text-align: center;
  }
  .che{
        /* align-items: center;
        justify-content: center; */
  }
.box{
    width: 20%;
    height: 230px;
    border: 3px solid #005A87;
    
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    animation: ba 4s 0s ease-in-out infinite;
   
}
@keyframes scale-up-center {
			
    0% {
        transform:scale(.2);
    }
    100% {
        transform:scale(1);
    }


}

.conteineur :hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, .25);
}
.box p{
    font-size: 18px;
}
.box img{
    width: 80px;
}
/* .box img{
   
    margin-left: 100px;
} */
@keyframes ba {
			
    0% {
        /* border: 2px solid black; */
       
        box-shadow: 10px 5px 30px 10px #005A87;
        
    }
    100% {
         border: 2px solid #005A87; 

         /* box-shadow: 10px 10px 10px 10px #005A87 ; */
    }
}
@media screen and (max-width:1200px){
 .box{
    width: 40%;
 }
 .box{
    width: 90%;
 }
}

.A-propos-de-nous{
    width: 100%;
    height: auto;
    margin-top: 100px;
     background-color: #e9f8ff; 
    display: flex;
}
.gauche{
    width: 50%;
    height: 200PX;
    /* background-color: red; */
     display: flex;
    justify-content: center;
    align-items: center; 
}
/* .box1 img{
    margin-left: 50px;
} */

.dou{
    width: 88%;
     height: 120px;
     background: #005A87;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 240px;
  
}
.dou h2{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 30px;
}
.dou p{
    text-align: center;
    margin-top: 20px;
    color: white;
}
.droite{
    width: 50%;
    height: auto;
   
}
.ligne1{
    width: 100%;
    height: auto;
    /* background-color: darkgreen; */
    display: flex;
   justify-content: space-around;
   flex-direction: row;
   flex-flow: wrap;
   
}
.fo{
    
}
.box1{
    width: 45%;
    height: 180px;
    /* background-color: darkmagenta; */
     background: #005A87; ;
   border-radius: 20px;
   margin-top: 30px;
}
@media screen and (max-width:1200px){
    .box1{
       width: 40%;
    }
    .box1{
       width: 90%;
    }
   }


   .ligne2{
    width: 100%;
    /* margin-top: 20px; */
    height: auto;
    /* background-color: darkgreen; */
    display: flex;
   justify-content: space-around;
   flex-direction: row;
   flex-flow: wrap;
}
.box2{
    width: 45%;
    height: 180px;
   
    background: #005A87; ;
   border-radius: 20px;
   margin-top: 30px;
}
.imageS {
    margin: 0 auto;
    width: 100%;
   
    /* height: 550PX; */
    /* background-color: yellow; */
 }
     .gauche img{
      margin-left: 20px;
      width: 100%;
     height: 500px;
     background-size: cover;
 } 
@media screen and (max-width:1200px){
    .box2{
       width: 40%;
    }
    .box2{
       width: 90%;
    }
    .dou{
        width: 90%;
    } 
     .gauche img{
        width: 600PX;
        margin-left: -70PX;
        
    }
   }
   @media screen and (max-width:1020px){
    .gauche img{
        width: 400PX;
        margin-left: -60PX;
        
    }
   }

   @media screen and (max-width:720px){
    .gauche img{
        width: 350PX;
        height: 90%;
        margin-left: -50PX;
        
    }
   }
   @media screen and (max-width:523px){
    .gauche img{
        width: 280PX;
        height: 90%;
        margin-left: -50PX;
        
    }
   }
   @media screen and (min-width:320px) and (max-width:580px){
    .gauche img{
        width: 200PX;
        height: 100%;
        margin-left: -50PX;
        
    }
   }

   @media screen and (min-width:300px) and (max-width:752px){
    .dou{
        height: 100%;
        
        
    }
   }

   .contact{
    
    width: 100%;
    height: 400px;
    /* background: url(./image/istockphoto-500954400-612x612.jpg); */
    background: url(/assets/image/istockphoto-500954400-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 50px;
   }
   .contact1{
    width: 75%;
    display: flex;
    justify-content: space-between;
    height: 520PX;
    background-color: #e9f8ff;
    position: relative;
    top: 30px;
    bottom: 0;
    /* margin-left: 120px; */
    margin: 0 auto;
   }
   .box3{
    width: 50%;
    height: auto;
    /* background-color: yellow; */
    background: url(/assets/image/connexion.jpeg);
    /* background: url(/assets/image/istockphoto-500954400-612x612.jpg) */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

   }
   .box4{
    width: 50%;
    height: auto;
    /* background-color: yellow; */
   }
   .grand{
    text-align: center;
    
   }
   .form{
    text-align: center;
   }
  
   input{
    width: 88%;
    height: 52px;
    margin-top: 20px;
    border: none;
    /* margin-left: 23px; */
   }
   ::placeholder{
    font-size: 15px;
   
   }
   textarea{
    width: 88%;
    height: 180PX;
    margin-top: 15px;
    border: none;
    /* margin-left: 23px; */
   }
   .btn{
   margin: 0 auto;
   text-align: center;
   justify-content: center;
   align-items: center;
   /* margin-left: 30px; */
    width: 163px;
    border: none;
    /* padding: 0.6rem; */
    padding: 8px;
    background-color: #005A87;
    border-radius: 30px;
    margin-top: 15px;
    border: 4px solid #005A87;
    font-size: 20px;
    color: white;
    text-align: center;
    
   }
   .cui{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    /* border: 2px solid black; */
   }

   @media screen and (min-width:300px) and (max-width:430px){
    .grand h1{
        font-size: 15px;
    }
    
   }

   @media screen and (min-width:300px) and (max-width:560px){
    .btn{
        width: 100px;
        font-size: 12px;
    }
   }

   /* .footer{
    width: 100%;
    height: 300px;
    background-color: black;
   position: relative;
   bottom: 0;
   top: 200px;
   
    
   

   }
   .lit{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 200px;
    background-color: rebeccapurple;
   flex-direction: row;
   flex-flow: wrap;
   margin-top: 50px;
   margin: 0 auto;
   } */
   .footer{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
     justify-content: center; 
     flex-flow: wrap;
      margin-top: 60px;
      margin-top: 200Px;
  }
  .cons{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50px;
   
  }
  .cons1{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 7px;
  }
  .cons2{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 7px;
  }
  .cons3{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 7px;
  }
  .cons3 img{
    margin-left: 5px;
    margin-top: 4px;
  }
  .cons4{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 7px;
  }
  .cons4 img{
    margin-left: 5px;
    margin-top: 4px;
  }
  .cons1 img{
    margin-left: -10px;
    margin-top: -11px;
  }
  .cons2 img{
    margin-left: 5px;
    margin-top: 4px;
  }
  .kaikai{
    color: white;
  }
  
  .la{
    width: 100%;
    height: auto;
    border-top: 2px solid #005A87;
    width: 100%;
    height: 100px;
  }
  .lo{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .si{
    width: 50%;
    height: 50px;
   
    border-bottom: 2px solid  #005A87;
  }
    button{
    font-size: 22px;
  }
  .kii{
   width: 50px;
   height: 30px;
    background-color: red;
  }
 /* .qua{
    background-color: rebeccapurple;
  } */
  .qui{
    position: relative;
    top: -200px;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid  rebeccapurple
    
  }
  .footer-box{
    width: 20%;
    height: 200px;
    /* background-color: aquamarine; */
    margin: 20px;
    box-sizing: border-box;
  }
  @media screen and (max-width:1200px){
    .footer-box{
      width: 40%;
    }
  }
  @media screen and (max-width:600px){
    .footer-box{
      width: 90%;
    }
    /* .box3{
        display: none;
    } */
  }
  small{
    color: white;
    opacity: 3;
  }
  .footer-box h2{
    color: white;
  }
  @media screen and (max-width:640px){
    .box3{
        display: none;
    }
    .box4{
        width: 100%;
    }
    /* .btn-1{
        width: 400px;
    } */
  }


  .btn-1{
    width: 130px;
    height: 42px;
    border-radius: 10px;
   margin-left: 8px;
    background-color: #005A87;
   margin-top: -8px;
    border: 3px solid white;
    color: white;
}
.btn-1{
    font-size: 18px;
    /* color: black; */
}
  /* .con{
    width: 30px;
    height: 30px;
    background-color: rebeccapurple;
  } */
 .valeurs{
    width: 100%;
    height: 450px;
    background-color: #e9f8ff;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
 }
 .ta{
    width: 100%;
    height: auto;
    /* background-color: blue; */
 }
 .mage{
    text-align: center;
    margin-top: 50px;
 }
 .hein1{
    width: 30%;
    height: 390px;
    background-color: white;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 5px  #005A87 ;
 }
 .hein2{
    width: 30%;
    height: 430px;
    /* background-color: #e9f8ff; */
    border-radius: 15px;
    /* background: linear-gradient(#005A87, #e9f8ff); */
    background: linear-gradient(#e9f8ff, #005A87);
    /* background-color: #005A87; */
 }
 .hein2 h2{
    background-color: #005A87;
    text-align: center;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
 }
 button{
    width: 80%;
    /* border: 3px #005A87; */
    
    background-color: white;
    border: 3px solid #005A87;
    padding: 17px;
 }
 .que{
    text-align: center;
    margin-top: 220px;
 }
 .que{
    text-align: center;
    margin-top: 80px;
 }
 p{
    font-weight: bold;
 }
 
 .hein1 h2{
    text-align: center;
    color: black;
    padding: 5px;
    font-size: 28px;
    font-weight: bold;
 }
 .hein3 h2{
    text-align: center;
    color: black;
    padding: 5px;
    font-weight: bold;
 }
 p{
    text-align: center;
 }
 .uns{
    margin: 0 auto;
    text-align: center;
 }
 .hein3{
    width: 30%;
    height: 390px;
    background-color: #e9f8ff;
    margin-top: 30px;
    border-radius: 15px;
    border: 3px solid #005A87;
    box-shadow: 2px 2px 2px 5px  #005A87 ;
 }